body { background: #98a3e9; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 58px; display: flex; }
.block-session-0 { color: #fef137; font-size: 15px; margin-bottom: 5px; }
.block-token-1 { color: #f918e; font-size: 13px; margin-bottom: 5px; }
.block-order-2 { color: #26a7e4; font-size: 14px; margin-bottom: 5px; }
.block-payment-3 { color: #c30c5f; font-size: 14px; margin-bottom: 5px; }
.block-session-4 { color: #abff05; font-size: 21px; margin-bottom: 5px; }